.title {
  margin-block: 70px 30px;
  color: var(--color-blue);
  font-weight: var(--font-semibold);
  font-size: 32px;
  text-align: center;
}

.link {
  display: block;
  margin: 40px auto;
  border: 2px solid var(--color-blue);
  border-radius: 8px;
  background: var(--color-yellow);
  padding: 13px;
  width: fit-content;
  color: var(--color-blue);
  font-weight: var(--font-semibold);
}
