.title {
  margin-top: 70px;
  color: var(--color-purple);
  font-weight: var(--font-semibold);
  font-size: 32px;
  text-align: center;
}

.description {
  margin-bottom: 20px;
  font-weight: var(--font-regular);
  text-align: center;
}

.image {
  border: 1px solid var(--color-gray);
  border-radius: 10px;
  width: 100%;
  height: auto;
}
