.footerWrapper {
  margin-top: 80px;
  background: var(--color-dark);
  padding: 70px 0;
}

.footer {
  @media (min-width: 1001px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
  }
}

.footerText {
  color: white;
  white-space: pre-wrap;

  @media (max-width: 1000px) {
    margin: 30px 0;
  }
}
.logo {
  border-radius: 7px;
  background: white;
  padding: 7px;
}
