.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 1001px) {
    padding: 30px 0;
  }

  @media (max-width: 1000px) {
    padding: 15px 0;
  }
}

.logo {
  @media (max-width: 1000px) {
    width: 120px;
    height: auto;
  }
}

.linksWrapper {
  display: flex;
  align-items: center;

  @media (max-width: 1000px) {
    flex-direction: row-reverse;
  }
}

.button {
  border: 2px solid var(--color-purple);
  border-radius: 8px;
  background: var(--color-yellow);
  color: var(--color-purple);
  text-align: center;

  @media (min-width: 1001px) {
    margin-left: 25px;
    padding: 8px 40px;
  }

  @media (max-width: 1000px) {
    margin-right: 10px;
    padding: 8px 20px;
  }
}

.buttonStrong {
  display: block;
  font-weight: var(--font-semibold);
  font-size: 18px;
}
