.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 490px);
}

.subtitle {
  margin-block: 40px;
  font-weight: var(--font-regular);
  font-size: 70px;
}

.text {
  font-size: 20px;
}
