.header {
  display: grid;

  @media (min-width: 1001px) {
    grid-template-columns: 700px auto;
  }
}

.headerContent {
  background: linear-gradient(
    45deg,
    var(--color-light-blue),
    var(--color-blue)
  );

  @media (min-width: 1001px) {
    padding: 50px 20px 50px 30px;
  }

  @media (max-width: 1000px) {
    order: 1;
    padding: 25px 15px;
  }
}

.headerTitle {
  color: white;
  font-weight: var(--font-extrabold);
  word-spacing: 9999px;

  @media (min-width: 1001px) {
    font-size: 80px;
  }

  @media (max-width: 1000px) {
    font-size: 60px;
  }
}

.headerSubtitle {
  opacity: 0.7;
  margin-bottom: 45px;
  color: white;
  font-weight: var(--font-semibold);

  @media (min-width: 1001px) {
    font-size: 24px;
  }

  @media (max-width: 1000px) {
    font-size: 22px;
  }
}

.headerImageWrapper {
  @media (min-width: 1001px) {
    position: relative;
  }
}

.headerImage {
  width: 100%;
  height: 100%;

  @media (min-width: 1001px) {
    position: absolute;
    top: 0;
    object-fit: cover;
  }
}

.headerButton {
  display: inline-block;
  margin-top: 60px;
  border-radius: 8px;
  background: var(--color-yellow);
  padding: 15px 30px;
  color: var(--color-blue);
  font-weight: var(--font-semibold);
  font-size: 18px;
}

.postsWrapper {
  display: grid;
  gap: 30px;
  margin-top: 30px;

  @media (min-width: 1001px) {
    grid-template-columns: 2fr 3fr 2fr;
    align-items: start;
  }
}

.postsSection {
  display: grid;
  align-items: start;
  gap: 20px;

  @media (max-width: 1000px) {
    &:nth-child(1),
    &:nth-child(3) {
      order: 1;
    }
  }
}

.postsTitle {
  color: var(--color-blue);
  font-weight: var(--font-semibold);
  font-size: 32px;

  @media (max-width: 1000px) {
    margin-top: 50px;
  }
}

.postsButton {
  border-radius: 8px;
  background: var(--color-blue);
  padding: 17px 0;
  color: white;
  font-weight: var(--font-semibold);
  font-size: 18px;
  text-align: center;
}

.preview {
  min-width: 0;
}

.previewImage {
  margin-bottom: 20px;
  box-shadow: 0 3px 6px rgba($color: black, $alpha: 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.previewTitle {
  margin: 10px 0 20px;
  font-weight: var(--font-semibold);
  font-size: 33px;
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  border-bottom: 1px solid var(--color-dimgray);
  padding-bottom: 20px;
}

.categoryTitle {
  font-weight: var(--font-semibold);
  font-size: 18px;
}

.categoryText {
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  margin-top: 10px;
  overflow: hidden;
  font-size: 14px;
}

.categoryButton {
  border-radius: 5px;
  background: var(--color-dark);
  padding: 10px 15px;
  color: white;
  white-space: nowrap;
}

.numbersWrapper {
  margin-top: 100px;
  background: var(--color-dark);

  @media (min-width: 1001px) {
    padding: 150px 0;
  }

  @media (max-width: 1000px) {
    padding: 80px 0;
  }
}

.numbers {
  display: grid;
  gap: 60px;

  @media (min-width: 1001px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.numbersItem {
  color: white;
  text-align: center;
}

.numbersTitle {
  margin-inline: auto;
  max-width: 400px;
  font-weight: var(--font-extrabold);

  @media (min-width: 1001px) {
    font-size: 50px;
  }

  @media (max-width: 1000px) {
    font-size: 40px;
  }
}

.numbersSubtitle {
  margin-block: 10px 20px;
  font-weight: var(--font-semibold);
  font-size: 24px;
}

.numbersText {
  opacity: 0.8;
  line-height: 1.4;
}

.aboutWrapper {
  border-bottom: 2px solid var(--color-gray);
  background: var(--color-lightgray);
  padding-block: 30px;
}

.about {
  display: grid;

  @media (min-width: 1001px) {
    grid-template-columns: 4fr 5fr;
    gap: 100px;
  }

  @media (max-width: 1000px) {
    gap: 40px;
  }
}

.aboutImage {
  margin-top: -70px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  width: 100%;
  height: auto;
}

.aboutTitle {
  font-weight: var(--font-semibold);
  font-size: 34px;
}

.aboutText {
  margin-block: 20px;
  color: var(--color-dimgray);
  line-height: 1.4;
  white-space: pre-wrap;
}

.aboutButton {
  display: inline-block;
  margin-top: 15px;
  border: 2px solid var(--color-blue);
  border-radius: 8px;
  padding: 12px 50px;
  color: var(--color-blue);
  font-weight: var(--font-semibold);
  font-size: 20px;
}

.projectsTitle {
  margin: 80px 0 20px;
  color: var(--color-blue);
  font-weight: var(--font-semibold);
  font-size: 32px;
  text-align: center;
}

.projectsGrid {
  display: grid;
  gap: 20px;

  @media (min-width: 1001px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
