.wrapper {
  margin-block: 30px;
}

.title {
  margin-block: 40px 20px;
  color: var(--color-blue);
  font-weight: var(--font-semibold);
  font-size: 28px;
  text-align: center;
}

.slide {
  position: relative;
}

.image {
  border-radius: 6px;
  aspect-ratio: 4 / 3;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.button {
  display: flex;
  position: absolute;
  top: 15px;
  right: 15px;
  align-items: center;
  gap: 7px;
  border: 2px solid var(--color-blue);
  border-radius: 8px;
  background: var(--color-yellow);
  padding: 8px 15px;
  color: var(--color-blue);
  font-weight: var(--font-semibold);
  font-size: 14px;
}

.buttonIcon {
  fill: var(--color-blue);
}
