.wrapper {
  margin-bottom: 30px;
  border-bottom: 1px solid var(--color-gray);
  padding-bottom: 30px;
}

.header {
  display: flex;
  align-items: center;
  gap: 5px;
}

.userImage {
  border-radius: 50%;
}

.userIcon {
  fill: var(--color-blue);
}

.username {
  font-weight: var(--font-semibold);
}

.date {
  position: relative;
  padding-left: 15px;
  color: var(--color-dimgray);
  font-size: 13px;

  &::before {
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 50%;
    background: var(--color-dimgray);
    width: 5px;
    height: 5px;
    content: '';
  }
}

.mediaWrapper {
  display: block;
  position: relative;
  margin-block: 20px;
  padding-top: 125%;
}

.media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  line-height: 1.4;

  &[data-short='true'] {
    color: var(--color-dimgray);
    line-height: 1.3;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
  }
}

.button {
  display: block;
  margin-top: 20px;
  border-radius: 4px;
  background: var(--color-blue);
  padding: 10px;
  color: white;
  font-weight: var(--font-semibold);
  text-align: center;
}
