.wrapper {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}

.content {
  position: relative;
  max-width: 90vw;
  height: 90vh;
}

.button {
  position: absolute;
  top: 7px;
  right: 7px;
  border-radius: 50%;
  background: white;
  padding: 9px 10px 7px;
}

.image {
  width: auto;
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}
