.wrapper {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong,
  img,
  p,
  ul,
  ol,
  code,
  blockquote {
    margin-top: 15px;
    line-height: 1.5;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong {
    font-weight: var(--font-semibold);
  }

  p,
  li {
    color: var(--color-dimgray);
    text-align: justify;
    white-space: pre-line;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 29px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 23px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 17px;
  }

  img {
    width: 100%;
    height: auto;
  }

  li::before {
    content: '➡️ ';
  }

  code {
    display: inline-block;
    background: var(--color-dark);
    padding: 15px;
    width: 0;
    min-width: 100%;
    overflow: auto;
    color: white;
  }

  blockquote {
    position: relative;
    margin-bottom: 0;
    margin-left: 0;
    background: var(--color-lightgray);
    padding: 15px 25px;
    font-style: italic;

    p {
      margin: 0;
    }

    &::before {
      display: block;
      position: absolute;
      top: 20%;
      left: 7px;
      background: var(--color-gray);
      width: 3px;
      height: 60%;
      content: '';
    }
  }
}
