.header {
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--color-gray);
  padding: 20px 0;
}

.headerItem {
  flex-basis: 50%;
  text-align: center;

  &:nth-child(2) {
    border-left: 1px solid var(--color-gray);
  }
}

.headerTitle {
  margin-bottom: 5px;
  font-weight: var(--font-semibold);
  font-size: 14px;

  &[data-color='purple'] {
    color: var(--color-blue);
  }

  &[data-color='orange'] {
    color: var(--color-orange);
  }
}

.previewImage {
  box-shadow: 0 3px 6px rgba($color: black, $alpha: 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.title {
  margin-top: 20px;
  font-weight: var(--font-semibold);

  @media (min-width: 1001px) {
    font-size: 33px;
  }

  @media (max-width: 1000px) {
    font-size: 26px;
  }
}

.sectionTitle {
  margin: 80px 0 20px;
  color: var(--color-blue);
  font-weight: var(--font-semibold);
  font-size: 32px;
  text-align: center;
}

.projectsGrid {
  display: grid;
  gap: 20px;

  @media (min-width: 1001px) {
    grid-template-columns: 1fr 1fr;
  }
}

.sectionButton {
  display: block;
  margin: 25px auto 0;
  border-radius: 8px;
  background: var(--color-blue);
  padding: 17px 0;
  width: 320px;
  color: white;
  font-weight: var(--font-semibold);
  font-size: 18px;
  text-align: center;
}

.recentPostsGrid {
  display: grid;
  gap: 20px;

  @media (min-width: 1001px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
