.wrapper {
  position: relative;
}

.select {
  transition: 0.25s;
  outline: 0;
  border-radius: 6px;
  padding: 9px 25px 9px 10px;
  width: 100%;
  font-weight: var(--font-semibold);

  &[data-selected='true'] {
    border: 1px solid var(--color-gray);
    background: var(--color-gray);
  }

  &[data-selected='false'] {
    border: 1px solid var(--color-dimgray);
    color: var(--color-dimgray);
  }
}

.icon {
  position: absolute;
  top: 15px;
  right: 10px;

  &[data-selected='true'] {
    fill: var(--color-dark);
  }

  &[data-selected='false'] {
    fill: var(--color-dimgray);
  }
}
