:root {
  --color-dark: #34354e;
  --color-gray: #e3e3e3;
  --color-dimgray: #68707a;
  --color-lightgray: #f8f8f8;
  --color-yellow: #f1e653;
  --color-purple: #3338af;
  --color-light-purple: #595dbb;
  --color-blue: #0094f6;
  --color-orange: #f58255;
  --font-regular: 400;
  --font-semibold: 500;
  --font-extrabold: 700;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
button,
input,
select,
textarea {
  color: var(--color-dark);
  font-weight: var(--font-regular);
  font-size: 16px;
  line-height: 1;
  font-family: var(--font-proxima-nova);
}

html,
body,
div,
span,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
small,
strong,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
footer,
header,
nav,
section,
video {
  -webkit-font-smoothing: antialiased;
  vertical-align: baseline;
  margin: 0;
  border: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
select {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: 0;
  background: transparent;
}
