.title {
  margin-block: 70px 30px;
  color: var(--color-purple);
  font-weight: var(--font-semibold);
  font-size: 32px;
  text-align: center;
}

.banner {
  width: 100%;
  height: auto;
}

.journalImage {
  width: 100%;
  height: auto;
}
